.header__lang-link {
    color: #FFFFFF;
    max-width: 30px;
    min-height: 28px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration: none;
    margin-right: 18px;
}


.header__lang-link:last-of-type {
    margin: 0;
}


@media screen and (max-width:320px) {
    .header__lang-link {
      min-height: 20px;
      max-width: 22px;
      font-size: 18px;
      line-height: 20px; 
    }
}
