.place__title {
    align-self: flex-end;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}


@media screen and (max-width:900px) {
    .place__title {
        font-size: 44px;
        line-height: 46px;
    }
}


@media screen and (max-width:768px) {
    .place__title {
        max-width: 340px;
    }
}


@media screen and (max-width:750px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
    }
}