.photo-grid {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding-top: 92px;
}


@media screen and (max-width:1024px) {
.photo-grid {
        max-width: 928px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 225px);
        gap: 14px;
}
}


@media screen and (max-width:768px) {
.photo-grid {
        max-width:  720px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 88px;
        margin-left: 24px;
        margin-right: 24px;
        gap: 16px;
}
}


@media screen and (max-width:320px) {
.photo-grid {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
        gap: 12px;
}
}