.intro__list {
    list-style: none;
    max-width: 690px;
    min-width: 288px;
    padding-top: 33px;
    padding-left: 0px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    margin: 0;
}


@media screen and (max-width:320px) {
    .intro__list {
        padding-top: 34px;
    }
}