.cover__subtitle {
    margin: auto;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    padding-top: 32px;
}


@media (max-width:360px) {
    .cover__subtitle {
        max-width:  288px;
        min-height: 48px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 16px;
    }
}