.header {
  max-width: 1184px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2A2C2F;
}


@media (max-width:320px) {
  .header {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 16px;
  }
}


@media (max-width:768px) {
  .header {
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 28px;
  }
}


