.lead__title {
    margin: 0 auto;
    padding-top: 56px;
    width: 100%;
    max-width: 720px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}


@media screen and (max-width:1024px) {
    .lead__title {
        padding-top: 48px;
    }
  }


@media screen and (max-width: 720px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
  }

}
 

@media screen and (max-width:320px) {
    .lead__title {
        font-size: 40px;
        padding-top: 48px;
        line-height: 44px;
        min-height: 88px;
        max-width: 288px;
        padding-left: 0;
    }
  }

