.place__paragraph {
    max-width: 484px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}


@media screen and (max-width:768px) {
    .place__paragraph {
        font-size: 16px;
    }
}


@media screen and (max-width:768px) {
    .place__paragraph {
        max-width: 288px;
    }
}

