.links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}


@media screen and (max-width:320px) {
    .links {
    flex-direction: column;
    font-size: 24px;
    line-height: 24px;
    align-items: flex-start;
    gap: 32px;
    }
}