.lead__subtitle {
    margin: 0 auto;
    max-width: 640px;
    padding-top: 32px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}


@media screen and (max-width:320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        min-height: 40px;
        max-width: 288px;
        padding-top: 16px;
    }
}
