.links__list {
    margin-right: 18px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}


.links__list:last-of-type {
    margin-right: 0;
}