.cover__background {
    display: block;
    max-width: 1184px;
    min-height: 740px;
    background-image: url('../../../images/cover-trains.png');
    position: relative;
    background-size: cover;
    text-decoration: none;
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
  }

  
  .cover__background::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
  }
  

  .cover__background:hover::before {
    opacity: 0.8;
  }


@media screen and (max-width:1024px) {
    .cover__background {
        max-width:  1024px;
        min-height: 640px;
    }
}


@media screen and (max-width:768px) {
  .cover__background {
      max-width:  768px;
      min-height: 480px;
  }
}


@media screen and (max-width:360px) {
    .cover__background {
        max-width:  320px;
        min-height: 200px;
    }
}

  
