.place {
    margin: 0 auto;
    max-width: 984px;
    min-height: 660px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
    padding-bottom: 80px;
}

.place:last-of-type {
    padding-bottom: 0;
}


@media screen and (max-width:1024px) {
    .place {
        max-width: 984px;
        column-gap: 32px;
        margin-left: 48px;
        margin-right: 48px;
    }
}


@media screen and (max-width:768px) {
    .place {
        max-width: 720px;
        column-gap: 28px;
        margin-left: 24px;
        margin-right: 24px;
    }
}


@media screen and (max-width:320px) {
    .place {
        grid-template-columns: 1fr;
        max-width: 320px;
        column-gap: 12px;
        margin-left: 16px;
        margin-right: 16px;
        padding-bottom: 50px;  
    }
}










