.place {
    margin: 0 auto;
    max-width: 100%;
    display: grid;
    grid-template-areas:
    "place-title place-website"
    "place-image place-paragraph";
    grid-template-columns: 460px 484px;
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
    padding-bottom: 80px;
}


.place:last-of-type {
    padding-bottom: 0;
}


@media screen and (max-width:1024px) {
    .place {
        grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
        column-gap: 32px;
    }
}


@media screen and (max-width:768px) {
    .place {
        grid-template-columns: 340px 352px;
        column-gap: 28px;
        padding-bottom: 73px;
    }
}


@media screen and (max-width:750px) {
    .place {
        display: block;
        padding-bottom: 40px;
    }
}


@media screen and (max-width:320px) {
    .place {
        grid-template-columns: 1fr;
        max-width: 320px;
        column-gap: 12px;
        padding-bottom: 50px;  
    }
}


