.footer {
    max-width: 1184px;
    background-color: #2A2C2F;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 92px 48px 24px 48px;
}


@media (max-width:768px) {
    .footer {
        max-width: 720px;
        padding: 88px 24px 24px 24px;
    }
}


@media (max-width:320px) {
    .footer {
    flex-direction: column;
    gap: 48px;
    padding: 64px 16px 24px 16px;
    }
}