.place__website {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    grid-area: place-website;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}


@media screen and (max-width:767px) {
    .place__website {
        padding-left: 16px;
        padding-top: 32px;
        padding-bottom: 32px;  
    }
}