.intro__title {
    margin: 0;
    max-width: 690px;
    min-width: 288px;
    padding-top: 92px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}


@media (max-width:768px) {
    .intro__title {
        padding-top: 88px;
    }
}


@media (max-width:320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        padding-top: 64px;
    }
}